@import "../../styles/Mixins.module.scss";

.mainPage {
  @include centered-container;
}

.backgroundVideo {
  @include fullscreen-background;
}

.logo {
  align-self: center;
}

.card {
  @include glass-card;

  .helpLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .noAccount {
    text-align: center;
  }
}
